.grid-item:hover {
    background-color: var(--blueCol);
}

.colored {
    background-color: var(--blueCol)
}
    
body {
    display: flex; 
    align-items: center;
    justify-content: center;

}


#container{
    width: 960px;
    height: 960px;
    
}


:root {
    --grid-cols: 1;
    --grid-rows: 1;
    --blueCol: blue;
    --redCol: red;
    --yelCol: yellow;
    --randomCol: "";
}

#container {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
    padding: 0;
    border: 1px solid #ddd;
    text-align: center;
}
